*.meta
/JSONParsersPerformance/Project/obj
/JSONParsersPerformance/Project/.vs
/JSONParsersPerformance/Project/bin
/JSONParsersPerformance/BIN/*.config
/JSONParsersPerformance/BIN/*.pdb
/JSONParsersPerformance/Project/*.user
/JSONParsersPerformance/BIN/JSONParsersPerformance.vshost.exe
/JSONParsersPerformance/BIN/JSONParsersPerformance.vshost.exe.manifest
